<div class="content-box">
      <div class="content-box-title">
          Wai Conserve
          <a href="#" style="float: right">
              <img src="{{ STATIC_URL}}images/icons/icon-help-sm.png" width="20"
                   align="center"
                   title="Click to get help about this window"
                   onclick="toggleHelp(event, 'widget', 'water-app'); return false;" />
          </a>
          
      </div>
      <table>
      <tr><td>Time Lapsed: </td><td><label id="time" align="left"></label></td><td>Score:</td><label id="score"></label></tr>
      <tr><td>Answer: </td><td><label id="ans"></p></td><td></td><td></td></tr>
      </table>

      <div class="content-box-contents">
          Question:</br>
          {{view_objects.water_app.questions.question}}   
          
          <form>
          <input type="radio" name="qu" value="a">{{view_objects.water_app.questions.a}}</br>
          <input type="radio" name="qu" value="b">{{view_objects.water_app.questions.b}}</br>
          <input type="radio" name="qu" value="c">{{view_objects.water_app.questions.c}}</br>
          <input type="radio" name="qu" value="d">{{view_objects.water_app.questions.d}}</br>
          </form> 

      </div>

		<script type="text/javascript">
		var length=setInterval(function(){timer()},1000);
		var s=new Date();
		function timer()
		{
		var d=new Date();
		var t=d.getTime()-s.getTime();
		document.getElementById("time").innerHTML=Math.ceil(t/1000);
		document.getElementById("ans").innerHTML="{{view_objects.water_app.questions.answer}}";
		}
		</script>
</div>
